@model IEnumerable<MVCBarApplication.Models.Drinks>

@{
    ViewBag.Title = "Menu";
}

<h2>Drink Menu</h2>

<p>&nbsp;</p>


<table class="table">
    <tr>
        <th>
            Drink Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DrinkName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrinkDescription)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.DrinkPrice).00
        </td>
        <td>
            @Html.ActionLink("Order", "Order", new { id=item.DrinkID, DrinkName = item.DrinkName.Trim()  }) 
            
        </td>
    </tr>
}

</table>
