
@{
    ViewBag.Title = "remove";
}

<h2>The order has been removed from the queue.</h2>
@Html.ActionLink("Return to queue", "OrderQueue", "Orders", null, new
{
    id = "OT",
    style = "color: blue"
})

